<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/style/styleprincipal.css" media="screen" />

</head>
<body>
 <button><a href="/pessoas/criar">Cadastro</a></button>
<section>
   
    <% pessoas.forEach((pessoa) => { %>
        <div class="row">
            <li id="card">
                <div id="linhazinha">
                    <span><p> Nome: <%= pessoa.nome %></p> </span>
                    <span><p> Sobrenome: <%= pessoa.sobrenome %></p></span>
                    <span><p>Idade: <%= pessoa.idade %></p></span>
                    <span><p>Altura: <%= pessoa.altura %></p></span>

                    <button id="butao"><a href="/pessoas/deletar?id=<%=pessoa.id%>">Deletar</a></button>
                </div>
            </li>
        </div>
    <% }) %>
</section>

    


</body>
</html>